- @title = "Index"

.layout--header
  .layout--header-inner
    %h3.sample  Zurb Foundation 5 with Middleman
    
.layout--content
  .layout--content-left
    .sample--content
      %h3#foo left
      = link_to "Page 1", "/page-1.html"
      
  .layout--content-right
    .sample--content
      %h3 right